- var editMode = department && department._id;
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if editMode
            title Edit Department #{department.name}
        else
            title Create Department
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            if editMode
                h1 Edit Department #{department.name}
            else
                h1 Create Department
        main
            if editMode
                form(action="/department/update/redirect", method="post")
                    input(type="hidden", name="id", value=department._id)
                    input(type="text", name="name", value=department.name)
                    //- from department i can access to a list of employees, let's only show those in this department
                    ul 
                        each employee in department.employees
                            li #{employee.firstName} #{employee.lastName}
                        else 
                            li No employees without a department
                    button(type="submit") Update Department
                form(action="/department/delete/redirect", method="post")
                    input(type="hidden", name="id", value=department._id)
                    button(type="submit") Delete Department
            else
                form(action="/department/create/redirect", method="post")
                    input(type="text", name="name", placeholder="Department Name")
                    table 
                        thead
                            tr
                                th Name
                                th Add/Remove
                        tbody
                            each employee in employees
                                tr
                                    td #{employee.firstName} #{employee.lastName}
                                    td
                                        input(type="checkbox", name="employees", value=employee._id)
                            else
                                tr
                                    td(colspan="2") No employees found
                    br
                    button(type="submit") Create Department
        footer
            a(href="/")
                button Home
            p #{new Date().toLocaleDateString()}
            if editMode
                a(href="/department/create")
                    button Add Department
            a(href="/departments")
                button Departments
            a(href="/employees")
                button Employees