- var editMode = employee && employee._id;
- var title = editMode ? `Edit Employee ${employee.firstName} ${employee.lastName}` : "Create Employee";
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1= title
        main
            if editMode
                form(action="/employee/update/redirect", method="post")
                    input(type="hidden", name="id", value=employee._id)
                    input(type="text", name="firstName", value=employee.firstName)
                    input(type="text", name="lastName", value=employee.lastName)
                    select(name="department")
                        if !employee.department 
                            option(value="", selected, hidden, disabled) No department
                        //- the first option is the selected option
                        each department in departments
                            if department.selected
                                option(value=department._id, selected) #{department.name}
                            else
                                option(value=department._id) #{department.name}
                        else
                            p No departments found do assign to employee
                    button(type="submit") Update Employee                    
            else
                form(action="/employee/create/redirect", method="post")
                    input(type="text", name="firstName", placeholder="First Name")
                    input(type="text", name="lastName", placeholder="Last Name")
                    select(name="department")
                        each department in employee.departments
                            option(value=department._id) #{department.name}
                    button(type="submit") Create Employee
        footer
            a(href="/")
                button Home
            p #{new Date().toLocaleDateString()}

